<% div_for bubble do %>
	<blockquote> 
		<strong><%= time_ago_in_words(bubble.updated_at) %> ago</strong>
		<p>
			<%= format_bubble(bubble.body) %>
		</p> 
	</blockquote>
	<cite>
		<strong>
			<%= link_to bubble.user.login, :controller=> "bubbles", :action => "list", :id => bubble.user.login %>
		</strong>  

		<%= link_to_aim (bubble.user) %>

		<% if bubble.user == current_user %>
			<%= link_to_remote '(pop)', :url => bubble_path(bubble),  :method => :delete %>
	    <% end %>
	    <%= link_to 'reply',  edit_bubble_path(bubble) %>
	</cite>   
<% end %>