<table bgcolor="white" width="180"><tr><td>
<% form_tag session_path do -%>
	<p>
		<%= label :login, 'Login' %><br/>
		<%= text_field_tag 'login' %>
	</p>
	<p>
		<%= label :password, 'Password' %><br/>
		<%= password_field_tag 'password' %></p>
	<p>
		<%= label :remember_me, 'Remember Me' %>
		<%= check_box_tag 'remember_me' %></p>
	<p>
		<%= submit_tag 'Log in' %> <%= link_to "Signup", :controller => "users", :action => "new" %> 
	</p>
<% end -%>
</td></tr></table>